// variable declaration
// BEGIN
$primary-color: #08D72C;
$cookie-mess-bg: #232323;
$acc-bg: #000000;
$acc-btn-bg: #000000;
$acc-btn-txt-color: #FFFFFF;
$nav-hover-txt-color: #FFFFFF;
$nav-txt-color: #000000;
$current-page-txt-color: #FFFFFF;
$up-btn-txt-color: #FFFFFF;
$blog-list-link-txt-color: #0A3598;
$blog-list-bg: #EEEEEE;
$blog-list-border-color: #000000;
$blog-date-color: #808080;
$code-box-bg: #404040;
$code-pre-bg: #404040;
$pre-line-numbers-border-color: #ffffff;
$notice-bg: #FFFF89;
$notice-top-border-bg: #FFDB2D;
$notice-txt-color: #000000;
// END

// mixins
// BEGIN
@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin color-transition()
{
    -o-transition:color .1s ease-out, background .1s ease-in;
    -ms-transition:color .1s ease-out, background .1s ease-in;
    -moz-transition:color .1s ease-out, background .1s ease-in;
    -webkit-transition:color .1s ease-out, background .1s ease-in;
    transition:color .1s ease-out, background .1s ease-in;
}
// END
.js_enabled #cookie-message
{

    display: none;

}
#cookie-message
{

    background-color: $cookie-mess-bg;
    color: #ffffff;
    margin: 0 auto;
    padding: 1% 0;

}
#cookie-message a
{

    color: $primary-color !important;

}
body
{

	font-size: 100%;
    background-color: #ffffff;

}
#cover
{

	width: 100%;
	height: 40%;
    min-height: 300px;
    max-height: 400px;
    background-image: url("../images/BlurryCover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    header
    {

        text-align: center;
        width: 100%;
        height: 100%;
        padding: 15% 0;

        #name
        {

            color: white;
            font-size: 2em;
            width: 100%;

        }
    }

}
nav
{

    width: 100%;
	padding: 0 0 1% 0;
    overflow: hidden;

    ul
    {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        li
        {
            list-style-type: none;
            display: inline-block;
            border: 1px solid darken($primary-color, 10);
            text-align: center;
            font-size: 1rem;

            /* Hovering off the element */
            @include color-transition();

            &:hover
            {

                /* Hovering on the element */
                background-color: $primary-color !important;
                color: $nav-hover-txt-color !important;
                @include color-transition();

            }

            &:hover a
            {

                color: $nav-hover-txt-color !important;
                @include color-transition();

            }
            a
            {
                text-decoration: none;
                color: $nav-txt-color;
                display: inline-block;
                /* I didn't expect em to work, cool. */
                padding: .5em 3.4em;
                @include color-transition();
            }
        }
    }

}
#currentpage
{

    background-color: $primary-color !important;
    a
    {
        color: $current-page-txt-color !important;
    }

}
.accessibility
{

    margin: 0 auto;
    width: 20%;
    padding: 0.5% 0;
    /*border: 2.5px solid #000000;*/
    border: 2.5px solid #ffffff;
    text-align: center;
    background-color: $acc-bg;

    #dropdown-menu
    {
        display: none;
        padding: 5% 0 1% 0;
    }

}
button.acc-btn
{

    background-color: $acc-btn-bg;
    border: 2.5px solid #ffffff;
    color: $acc-btn-txt-color !important;
    margin: 1% auto;
    padding: 1% 12%;

}
button#up-btn
{
    position: fixed;
    display: none;
    bottom: 1%;
    right: 1%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $primary-color;
    color: $up-btn-txt-color;
    cursor: pointer;
    padding: 0.5%;
    border-radius: 10%;
    opacity: 0.5;
    font-size: 1.5rem;

}
.container
{

	width: 70%;
	margin: 2% auto;

    a
    {
        color: darken($primary-color, 10) !important;
    }

    h2
    {
        text-align: left;
        color: darken($primary-color, 10) !important;
        font-size: 1.5em;
        margin: 1% 1%;
    }

    .blog-title
    {
        text-align: center;
        color: darken($primary-color, 10);
        font-size: 2.5rem;
    }

    p
    {
        text-indent: 2%;
        line-height: 150%;
        margin: 1% auto;

        .firsst-letter
        {
            color: darken($primary-color, 5);
            font-size: 2em;
        }
    }

    img
    {
        width: 70%;
        margin: 0 10%;
    }

}
.important
{

    font-weight: bold;
    font-size: 1em;

}
#blog-list
{

    width: 50%;
    margin: 1% auto 2% auto;

    a
    {
        color: $blog-list-link-txt-color;
        display: block;
        padding: 2% 0;
    }

    ul
    {
        width: 100%;

        li
        {
            width: 100%;
            background-color: $blog-list-bg !important;
            text-align: center;
            border: 1px solid $blog-list-border-color;
            box-shadow: 1px 2px #888888;
            line-height: 1.2rem;
        }
    }

}
.blog-date
{

    margin: 2%;
    color: $blog-date-color;

}
.project-container
{

    display: flex;
    width: 80%;
    margin: 2% auto;

}
.flex-projects
{

    position: relative;
    padding: 0;
    max-width: 500px;
    height: 300px;
    box-shadow: 0 0 1px #333;
    width: 100%;
    margin: 0 2%;

}
.flex-projects .link-handler
{

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
.flex-projects .project-thumb
{

    background-size: cover !important;
    height: 100%;

}
.flex-projects .info
{

    font-size: 1em;
    color: #fff;
    padding: 0 20px 0 20px;
    background-color: rgba(0,0,0,0.7);
    text-shadow: 0 0 5px #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}
.flex-projects .content
{

    opacity: 0;
    color: white;
    text-align: center;


}
.toGithub
{

    text-decoration: none;

}
.code-box
{

    background-color: $code-box-bg;
    color: white;
    margin: 1% 0;
    padding-left: 0.5%;
    line-height: 120%;

}
code, pre
{

    background-color: $code-pre-bg;
    color: white;
    overflow-x: auto;

}
pre.line-numbers
{

    float: left;
    padding-right: 1%;
    border-right: solid 1px $pre-line-numbers-border-color;
    margin-right: 2%;
    margin-left: 0.5%;

}
.line-numbers + pre
{
    overflow-x: auto;
}
table
{

    width: 100%;
    margin: 2% auto;

}
table, tr, th, td
{

    border: solid black 1px;

}
tr, th, td
{

    padding: 1% 1%;

}
table tr:nth-child(even)
{

    background-color: #DCDCDC;

}
.container table+p
{

	text-indent: 0;

}
.container table+br+p
{

	text-indent: 0;

}
.container .code-box+p
{

	text-indent: 0;

}
.notice
{

    background-color: $notice-bg;
    border-top: solid 10px $notice-top-border-bg;
    padding: 0.5% 2%;

    p
    {
        text-indent: 0;
        color: $notice-txt-color !important;
    }

}
/* Media Queries */
@media only screen and (min-width: 100px) and (max-width: 700px)
{
.container
{

	width: 95%;

    img
    {
        width: 80%;
        margin: 1% 5%;
    }

}
nav
{

    width: 100%;

    ul
    {
        width: 99.4%;
        display: block;

        li
        {
            width: 100%;
            display: block;
            padding: 0 0;

            a
            {
                display: block;
                padding: 3% 0;
            }
        }
    }

}
button.acc-btn
{

    padding: 4%;

}
button#up-btn
{

    padding: 1%;
    border-radius: 10%;

}
.accessibility
{

    width: 89%;
    margin: 0 05%;;
    padding: 1%;

}
h2
{

    padding: 3% 0;

}
#blog-place-holder
{

    padding: 15% 0;

}
.project-container
{

    display: block;

}
.flex-projects
{

    margin: 0 0 5% 0;

}
#blog-list
{

    width: 100%;

}
#blog-list ul
{

    width: 91%;
    margin: 1% 5%;

}
#blog-list ul li
{

    width: 100%;

}
#blog-list ul li a
{

    padding: 3% 0;

}
.blog-date
{

    margin: 2%;
    color: #808080;

}
}
